<div class="row detail">

 <!--h1>ctrl.type : {{ctrl.type}}</h1-->
 <!--h2>json : {{ctrl.json}}</h2-->
 <!-- h3>xml : {{ctrl.xml}}</h3-->
 <h1>Customer Name : {{ctrl.json.account_cust_name}}</h1>
  <div class="col-sm-8">
		  	<table class="table table-bordered table-hover table-striped table-condensed">
	<thead></thead>
	<tbody>

	
		<tr>
			<td>Application No</td>
			<td>{{ctrl.json.application_no}}</td>
		</tr>
		<tr>
			<td>Account Type</td>
			<td>{{ctrl.json.account_type_desc}}</td>
		</tr>
		<tr>
			<td>Account Limit</td>
			<td>{{ctrl.json.account_limit | currency}}</td>
		</tr>
		<tr>
			<td>Credit Card No</td>
			<td>{{ctrl.json.credit_card_no}}</td>
		</tr>
		<tr>
			<td>Credit Card Account Limit</td>
			<td>{{ctrl.json.credit_card_account_limit | currency}}</td>
		</tr>
		<tr>
			<td>Product Detail Code</td>
			<td>{{ctrl.json.product_detail_code}}</td>
		</tr>
		<tr>
			<td>Service Program ID</td>
			<td>{{ctrl.json.service_program_id}}</td>
		</tr>
		<tr>
			<td>Authorization Amount</td>
			<td>{{ctrl.json.authorization_amount | currency}}</td>
		</tr>
		<tr>
			<td>Approve Date</td>
			<td>{{ctrl.json.approve_date | date}}</td>
		</tr>
		<tr>
			<td>Current Balance</td>
			<td>{{ctrl.json.current_balance | currency}}</td>
		</tr>
		<tr>
			<td>Highest Balance</td>
			<td>{{ctrl.json.highest_balance | currency}}</td>
		</tr>
		<tr>
			<td>Closing Balance</td>
			<td>{{ctrl.json.closing_balance | currency}}</td>
		</tr>
		<tr>
			<td>Amount Due</td>
			<td>{{ctrl.json.amount_due | currency}}</td>
		</tr>
		<tr>
			<td>Latest Transaction</td>
			<td>{{ctrl.json.latest_transaction | currency}}</td>
		</tr>
	</tbody>
 </table>
<hr>
 <h3>Transactions:</h3>
	<table class="table table-bordered table-hover table-striped table-condensed">
	<thead>
		<tr>
			<th>Batch No</th>
			<th>Merchant Code</th>
			<th>Amount</th>
			<th>Country</th>
			<th>Currency</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="trans in ctrl.json.transactions">
			<td ng-bind="trans.batch_no">
			<td ng-bind="trans.merchant_code">
			<td ng-bind="trans.transaction_amount | currency">
			<td ng-bind="trans.country_code">
			<td ng-bind="trans.source_currency_code">
			<td ng-bind="trans.datetime | date">
		</tr>
	</tbody>
	</table>
	<!-- note -->
    <uib-tabset type="pills">
      <uib-tab ng-if="ctrl.type==='json'">
        <uib-tab-heading>JSON</uib-tab-heading>
        <div class="col-sm-12">
          <json-explorer data="ctrl.json"></json-explorer>
        </div>
      </uib-tab>
      <uib-tab ng-if="ctrl.type==='xml' || ctrl.type==='txt'">
        <uib-tab-heading >XML</uib-tab-heading>
        <div class="col-sm-12">
          <pre class="pre-xml">{{ctrl.xml}}</pre>		  
        </div>
      </uib-tab>
      <uib-tab ng-if="ctrl.type==='binary'">
        <uib-tab-heading >Binary</uib-tab-heading>
        <div class="col-sm-12">
          <a target="_blank" ng-href="/v1/documents?uri={{ctrl.uri}}&transform=download"
             class="btn btn-default">Download</a>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="col-sm-4">
    <div id="buttons-detail">
      <button class="btn btn-default" ui-sref="root.search">Search</button>
      <button class="btn btn-primary"
              ng-show="!rootCtrl.currentUser.disallowUpdates" 
              ui-sref="root.edit({uri: ctrl.uri, prev: 'root.view'})">Edit</button>
      <button class="btn btn-primary"
              ng-show="!rootCtrl.currentUser.disallowUpdates" 
              mwl-confirm
              title="This will permanently delete {{ctrl.uri}}, are you sure?"
              confirm-text="Yes"
              cancel-text="No"
              placement="bottom"
              on-confirm="ctrl.delete()"
              on-cancel="cancelClicked = true"
              confirm-button-type="danger"
              cancel-button-type="default">Delete</button>
    </div>
    <br>
    <!-- show (links to) similar documents -->
    <div class="panel panel-default">
      <div class="panel-heading">Similar</div>
      <div class="panel-body">
        <ml-similar uri="{{ctrl.uri}}" limit="5"></ml-similar>
      </div>
    </div>
  </div>
</div>
